<!DOCTYPE html>
<html>
  <head>
  <title>Rails Camp Blog</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
